body {
  background-color: lightblue;
}
body {
  style="background-image: url('Astoneer.jpg');
}
h1 {
  color: rgb(56, 49, 49);
  text-align: center;
}
p.solid {
  border-style: solid;
}
p {
  font-family: verdana;
  font-size: 20px;
}