body {
  background-color: rgb(3, 192, 255);
}
body {
  background-image: url("paper.gif");
}
h1 {
  color: rgb(56, 49, 49);
  text-align: center;
}
p.solid {
  border-style: solid;
}
p {
  font-family: verdana;
  font-size: 20px;
}

<style>.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
</style>

<div class="dropdown">
  <span>Mouse over me</span>
  <div class="dropdown-content">
     <p>Hello World !</p>
  </div>
</div>


















<img src="./images/HTML-style-guide.jpeg" alt="style">